.title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  height: 30vh;
  padding-top: 10vh;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5vh;
  padding-left: 5vw;
  padding-right:5vw;
  
  

  // .mini {
  //   animation-name: AnimationTic;
  //   animation-delay: 1s;
  //   animation-duration: 0.8s;
  //   animation-fill-mode: forwards;
  //   opacity: 0;
  // }

  // .game {
  //   animation-name: AnimationTic;
  //   animation-duration: 0.8s;
  //   animation-delay: 1.8s;
  //   animation-fill-mode: forwards;
  //   opacity: 0;

  // }

  // .party {
  //   animation-name: AnimationTic;
  //   animation-duration: 0.8s;
  //   animation-delay: 2.6s;
  //   animation-fill-mode: forwards;
  //   opacity: 0;
    

  // }
}

@keyframes AnimationTic{
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }

}


