.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;

  button {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
  }

  .container_input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    .input_ok {
      display: flex;

      button,
      input {
        padding: 0.5rem;
      }

      button {
        border-radius: 0px 10px 10px 0px;
        border: 1px solid black;
        border-left: none;
        transition: 0.3s;
        min-width: 50px;
        max-width: 100px;
        width: 20vw;
      }

      input {
        border-radius: 10px 0px 0px 10px;
        border-right: none;
        border: 1px solid black;
      }

      .ok {
        background-color: green;
        color: white;
      }

      .nok {
        background-color: red;
        color: white;
      }
    }

    input {
      font-size: 20px;
    }
  }
}
