.RightPrice {

    color: white;
    font-size: 2rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;

    h2 {
        margin-bottom: 2rem;
    }


    button, input {
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.199);
        color: white;
        font-weight: bold
    }
    input {
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    button {
        width: 300px;
        border: none;
    }
    .container_button_guess {
        display: flex;
        max-width: 90vw;
        margin-top: 1rem;
    }

    .container_input {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}